@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@300;400;500;700&display=swap");

/* Apply Arabic font ONLY to Arabic text */
:lang(ar),
[lang="ar"] {
    font-family: "Noto Sans Arabic", sans-serif !important;
    direction: rtl;
}